<!--@Author Swathi Challagundla-->
<h2>Confirm deletion of orderLineItem</h2>
ID:
<%=  orderLineItem._id %>
<br> orderID:
<%=orderLineItem.orderID%>
<br /> lineNumber:
<%=orderLineItem.lineNumber%>
<br /> productKey:
<%=orderLineItem.productKey%>
<br /> quantity:
<%=orderLineItem.quantity%>
<br />
<br />

<form method="get" action="/orderLineItem">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/orderLineItem/delete/<%= orderLineItem._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>