<li class="dropdown-submenu">
    <a href="#">2018 Fall Web Apps Section 06<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        <a href="/about/t1">Team 4 <span class="caret"></span></a>
        <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                        <a href="/about/t4">Team 4 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/about/t4/a">Swathi Challagundla</a></li>
                          <li><a href="/about/t4/b">Laxmi Seshu Kalvakuri</a></li>
                          <li><a href="/about/t4/c">Priyanka Khanal</a></li>
                          <li><a href="/about/t4/d">Durga Sushmitha Kotyada</a></li>
                        </ul>
                      </li>
                    </ul>
                </li>
                