</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy; Web Apps A04 Apps</p>
    <p class="text-muted"><a href="git@bitbucket.org:priyankakhanal/webapp_a04.git">Repository</a></p>
  </div>
</footer>