<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">web app a04</a>
    <ul class="navbar-nav">
        <li class="active">
            <a class="nav-link" href="/">Home</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://app-a03.herokuapp.com/">Lakshmi Seshu Kalvakuri</a>
                <a class="dropdown-item" href="https://profilea03.herokuapp.com/">Durga Susmitha Kotyada</a>
                <a class="dropdown-item" href=" https://priyankakhanal.herokuapp.com/">Priyanka Khanal</a>
                <a class="dropdown-item" href="https://swathi-resume.herokuapp.com/">Swathi Challagundla</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/customer">Customers</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/product">Products</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/order">Orders</a></li>
        <li class="nav-item">
            <a class="nav-link" href="/orderLineItem">orderLineItem</a></li>
    </ul>
</nav>