<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>6-04 E-commerce</h1>
      
      <h4>GET customer view</h4>
      <ol>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer">https://sushmitha-a04.herokuapp.com/customer</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/create">https://sushmitha-a04.herokuapp.com/customer/create</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/edit/1">https://sushmitha-a04.herokuapp.com/customer/edit/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/edit/2">https://sushmitha-a04.herokuapp.com/customer/edit/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/edit/3">https://sushmitha-a04.herokuapp.com/customer/edit/3</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/delete/1">https://sushmitha-a04.herokuapp.com/customer/delete/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/delete/2">https://sushmitha-a04.herokuapp.com/customer/delete/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/delete/3">https://sushmitha-a04.herokuapp.com/customer/delete/3</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/details/1">https://sushmitha-a04.herokuapp.com/customer/details/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/details/2">https://sushmitha-a04.herokuapp.com/customer/details/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/details/3">https://sushmitha-a04.herokuapp.com/customer/details/3</a>
        </li>

      </ol>
      <h4>GET a product view</h4>
      <ol>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product">https://sushmitha-a04.herokuapp.com/product</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/create">https://sushmitha-a04.herokuapp.com/product/create</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/edit/1">https://sushmitha-a04.herokuapp.com/product/edit/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/edit/2">https://sushmitha-a04.herokuapp.com/product/edit/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/edit/3">https://sushmitha-a04.herokuapp.com/product/edit/3</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/delete/1">https://sushmitha-a04.herokuapp.com/product/delete/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/delete/2">https://sushmitha-a04.herokuapp.com/product/delete/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/delete/3">https://sushmitha-a04.herokuapp.com/product/delete/3</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/details/1">https://sushmitha-a04.herokuapp.com/product/details/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/details/2">https://sushmitha-a04.herokuapp.com/product/details/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/details/3">https://sushmitha-a04.herokuapp.com/product/details/3</a>
        </li>

      </ol>
      <h4>GET orders view</h4>
      <ol>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders">https://sushmitha-a04.herokuapp.com/order</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/create">https://sushmitha-a04.herokuapp.com/order/create</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/edit/1">https://sushmitha-a04.herokuapp.com/order/edit/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/edit/2">https://sushmitha-a04.herokuapp.com/order/edit/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/edit/3">https://sushmitha-a04.herokuapp.com/order/edit/3</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/delete/1">https://sushmitha-a04.herokuapp.com/order/delete/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/delete/2">https://sushmitha-a04.herokuapp.com/order/delete/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/delete/3">https://sushmitha-a04.herokuapp.com/order/delete/3</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/details/1">https://sushmitha-a04.herokuapp.com/order/details/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/details/2">https://sushmitha-a04.herokuapp.com/order/details/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/details/3">https://sushmitha-a04.herokuapp.com/order/details/3</a>
        </li>

</ol>
<h4>GET orderLineItem view</h4>
      <ol>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem">https://sushmitha-a04.herokuapp.com/orderLineItem</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/create">https://sushmitha-a04.herokuapp.com/orderLineItem/create</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/edit/1">https://sushmitha-a04.herokuapp.com/orderLineItem/edit/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/edit/2">https://sushmitha-a04.herokuapp.com/orderLineItem/edit/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/edit/3">https://sushmitha-a04.herokuapp.com/orderLineItem/edit/3</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/delete/1">https://sushmitha-a04.herokuapp.com/orderLineItem/delete/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/delete/2">https://sushmitha-a04.herokuapp.com/orderLineItem/delete/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/delete/3">https://sushmitha-a04.herokuapp.com/orderLineItem/delete/3</a>
        </li>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/details/1">https://sushmitha-a04.herokuapp.com/orderLineItem/details/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/details/2">https://sushmitha-a04.herokuapp.com/orderLineItem/details/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/details/3">https://sushmitha-a04.herokuapp.com/orderLineItem/details/3</a>
        </li>

</ol>
      <br />
      <h4>CUSTOMER JSON</h4>
      <ol>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/findall">https://sushmitha-a04.herokuapp.com/customer/findall</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/findone/1">https://sushmitha-a04.herokuapp.com/customer/findone/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/findone/2">https://sushmitha-a04.herokuapp.com/customer/findone/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/customer/findone/3">https://sushmitha-a04.herokuapp.com/customer/findone/3</a>
        </li>
      </ol>
      <ol>
        <h4> PRODUCT JSON</h4>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/findall">https://sushmitha-a04.herokuapp.com/product/findall</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/findone/1">https://sushmitha-a04.herokuapp.com/product/findone/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/findone/2">https://sushmitha-a04.herokuapp.com/product/findone/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/product/findone/3">https://sushmitha-a04.herokuapp.com/product/findone/3</a>
        </li>
        
      </ol>
      <br />
      <h4>Order JSON</h4>
      <ol>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/findall">https://sushmitha-a04.herokuapp.com/order/findall</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/findone/1">https://sushmitha-a04.herokuapp.com/order/findone/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/findone/2">https://sushmitha-a04.herokuapp.com/order/findone/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orders/findone/3">https://sushmitha-a04.herokuapp.com/order/findone/3</a>
        </li>
      </ol>
      <h4>orderLineItem JSON</h4>
      <ol>

        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/findall">https://sushmitha-a04.herokuapp.com/orderLineItem/findall</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/findone/1">https://sushmitha-a04.herokuapp.com/orderLineItem/findone/1</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/findone/2">https://sushmitha-a04.herokuapp.com/orderLineItem/findone/2</a>
        </li>
        <li>
          <a href="https://sushmitha-a04.herokuapp.com/orderLineItem/findone/3">https://sushmitha-a04.herokuapp.com/orderLineItem/findone/3</a>
        </li>
      </ol>


    </div>
  </div>
</div>