<!--@Author Priyanka Khanal-->


<h2>Confirm deletion of order</h2>
ID:
<%=  orders._id %>
<br /> email:
<%=orders.email%>
<br /> datePlaced:
<%=orders.datePlaced%>
<br /> dateShipped:
<%=orders.dateShipped%>
<br /> paymentType:
<%=orders.paymentType%>
<br /> paid:
<%=orders.paid%>

<br />
<br />

<form method="get" action="/order">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/order/delete/<%= orders._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>

