<!--@Author Priyanka Khanal-->
<br/>
<br/>
<h2>Product details</h2>
<br/>
<br/> 
ID:
<%=  orders._id %>
<br /> email:
<%=orders.email%>
<br /> datePlaced:
<%=orders.datePlaced%>
<br /> dateShipped:
<%=orders.dateShipped%>
<br /> paymentType:
<%=orders.paymentType%>
<br /> paid:
<%=orders.paid%>

<br />
<br />
            <form method="get" action="/order">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

