<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="order/create" class="btn btn-primary new">
        Create a new order
      </a>
      <h2>Recent order entries</h2>
      <p>There are
        <%= orders.query.length %> orders.
          <br/>
      </p>
      <% for (var i = orders.query.length-1; i >= 0; i--) {   
              order = orders.query[i];   %>
        <div class="col col-md-12" style="margin:10px;">
          ID:
          <%=  order._id %>
          <br> email
          <%= order.email %>
          <br /> Date Placed: 
          <%= order.datePlaced%>
          <br /> Date Shipped
          <%= order.dateShipped%>
          <br />Payment Type:
          <%= order.paymentType %>
          
          <br />amountDue:
          <%= order.amountDue %>
          <br />Paid:
          <%= order.paid %>

          <br />
          <a href="/order/delete/<%= order._orderid  %>" class="btn btn-danger"> Delete </a>
          <a href="/order/details/<%= order._orderid %>" class="btn btn-info"> Details </a>
          <a href="/order/edit/<%= order._orderid %>" class="btn btn-warning"> Edit </a>
        </div>
      <% } %>
    </div>
</div>