<!--@Author Priyanka Khanal-->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="_ID">ID</label>
        <input type="text" class="form-control" id="ID" name="ID" value="<%= order._ID %>" required>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name="email" value="<%= order.email %>" required>
      </div>
      <div class="form-group">
        <label for="datePlaced">datePlaced</label>
        <input type="number" class="form-control" id="datePlaced" name="datePlaced" value="<%= order.datePlaced %>" required>
      </div>
      <div class="form-group">
        <label for="dateShipped">dateShipped</label>
        <input type="text" class="form-control" id="dateShipped" name="dateShipped" value="<%= order.dateShipped %>" required>
      </div>
      <div class="form-group">
        <label for="paymentType">paymentType</label>
        <input type="text" class="form-control" id="paymentType" name="paymentType" value="<%= order.paymentType %>" required>
      </div>
      <div class="form-group">
        <label for="paid">paid</label>
        <input type="text" class="form-control" id="paid" name="paid" value="<%= order.paid %>" required>
      </div>
      
    </div>
  </div>

