<!--@Author Durga Susmitha Kotyada-->



<h2>Confirm deletion of product</h2>
ID:
<%=  product._id %>
<br> Product_Name:
<%=product.Product_Name%>
<br /> Product_Description:
<%=product.Product_Description%>
<br /> Product_Price:
<%=product.Product_Price%>
<br /> Product_Quality:
<%=product.Product_Quality%>
<br /> Product_Status:
<%=product.Product_Status%>
<br /> Product_ManfactureDate:
<%=product.Product_ManfactureDate%>
<br /> Product_ExpiryDate:
<%=product.Product_ExpiryDate%>
<br />
<br />

<form method="get" action="/product">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/product/delete/<%= product._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>

