<!--@Author Durga Susmitha Kotyada-->


<br/>
<br/>
<h2>Product details</h2>
<br/>
<br/> 
ID:
<%=  product._id %>
<br> Product_Name:
<%=product.Product_Name%>
<br /> Product_Description:
<%=product.Product_Description%>
<br /> Product_Price:
<%=product.Product_Price%>
<br /> Product_Quality:
<%=product.Product_Quality%>
<br /> Product_Status:
<%=product.Product_Status%>
<br /> Product_ManfactureDate:
<%=product.Product_ManfactureDate%>
<br /> Product_ExpiryDate:
<%=product.Product_ExpiryDate%>
<br />
<br />
            <form method="get" action="/product">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

