
<!--@Author Durga Susmitha Kotyada-->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="product/create" class="btn btn-primary new">
        Create a new product
      </a>
      <h2>Recent product entries</h2>
      <p>There are
        <%= products.query.length %> products.
          <br/>
      </p>
      <% for (var i = products.query.length-1; i >= 0; i--) {   
        product = products.query[i];   %>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-text pull-right"></div>
            <div class="card-body">
            ID:
<%=  product._id %>
<br> Product_Name:
<%=product.Product_Name%>
<br /> Product_Description:
<%=product.Product_Description%>
<br /> Product_Price:
<%=product.Product_Price%>
<br /> Product_Quality:
<%=product.Product_Quality%>
<br /> Product_Status:
<%=product.Product_Status%>
<br /> Product_ManfactureDate:
<%=product.Product_ManfactureDate%>
<br /> Product_ExpiryDate:
<%=product.Product_ExpiryDate%>
<br />
<br />
                          <a href="/product/delete/<%= product._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/product/details/<%= product._id %>" class="btn btn-info"> Details </a>
                          <a href="/product/edit/<%= product._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</div>