<!--@Author Durga Susmitha Kotyada-->


<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="Product_Name">Product_Name</label>
        <input type="text" class="form-control" id="Product_Name" name="Product_Name" value="<%= product.Product_Name %>" required>
      </div>
      <div class="form-group">
        <label for="Product_Description">Product_Description</label>
        <input type="text" class="form-control" id="Product_Description" name="Product_Description" value="<%= product.Product_Description %>" required>
      </div>
      <div class="form-group">
        <label for="Product_Price">Product_Price</label>
        <input type="number" class="form-control" id="Product_Price" name="Product_Price" value="<%= product.Product_Price %>" required>
      </div>
      <div class="form-group">
        <label for="Product_Quality">Product_Quality</label>
        <input type="text" class="form-control" id="Product_Quality" name="Product_Quality" value="<%= product.Product_Quality %>" required>
      </div>
      <div class="form-group">
        <label for="Product_Status">Product_Status</label>
        <input type="text" class="form-control" id="Product_Status" name="Product_Status" value="<%= product.Product_Status %>" required>
      </div>
      <div class="form-group">
        <label for="Product_ManfactureDate">Product_ManfactureDate</label>
        <input type="text" class="form-control" id="Product_ManfactureDate" name="Product_ManfactureDate" value="<%= product.Product_ManfactureDate %>" required>
      </div>
      <div class="form-group">
        <label for="Product_ExpiryDate">Product_ExpiryDate</label>
        <input type="text" class="form-control" id="Product_ExpiryDate" name="Product_ExpiryDate" value="<%= product.Product_ExpiryDate %>" required>
      </div>
    </div>
  </div>

