<!--@Author Lakshmi Seshu Kalvakuri-->
<br/>
<br/>
<h2>Customer details</h2>
<br/>
<br/> 
ID:
<%=  customer._id %>
<br> firstName:
<%=customer.firstName%>
<br /> lastName:
<%=customer.lastName%>
<br /> Age (years):
<%=customer.age%>
<br /> city:
<%=customer.city%>
<br /> state:
<%=customer.state%>
<br /> postalCode:
<%=customer.postalCode%>
<br /> phoneNumber:
<%=customer.phoneNumber%>
        <br/>
        <br/>
            <form method="get" action="/customer">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>