<!--@Author Lakshmi Seshu Kalvakuri-->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="customer/create" class="btn btn-primary new">
        Create a new customer
      </a>
      <h2>Recent customer entries</h2>
      <p>There are
        <%= customers.query.length %> customers.
          <br/>
      </p>
      <% for (var i = customers.query.length-1; i >= 0; i--) {   
        customer = customers.query[i];   %>
        <div class="card">
          <div class="card-header"></div>
          <div class="card-text pull-right"></div>
          <div class="card-body">
            ID:
            <%=  customer._id %>
            <br> firstName:
            <%=customer.firstName%>
            <br /> lastName:
            <%=customer.lastName%>
            <br /> Age (years):
            <%=customer.age%>
            <br /> city:
            <%=customer.city%>
            <br /> state:
            <%=customer.state%>
            <br /> postalCode:
            <%=customer.postalCode%>
            <br /> phoneNumber:
            <%=customer.phoneNumber%>
                    <br/>
                    <br/>
                          <a href="/customer/delete/<%= customer._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/customer/details/<%= customer._id %>" class="btn btn-info"> Details </a>
                          <a href="/customer/edit/<%= customer._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</div>