<!--@Author Lakshmi Seshu Kalvakuri-->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="firstName">firstName</label>
        <input type="text" class="form-control" id="firstName" name="firstName" value="<%= customer.firstName %>" required>
      </div>
      <div class="form-group">
        <label for="lastName">lastName</label>
        <input type="text" class="form-control" id="lastName" name="lastName" value="<%= customer.lastName %>"required>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input onchange="onAgeChange()" type="number" class="form-control" id="age" name="age" value="<%= customer.age %>" required>
      </div>
      <div class="form-group">
        <label for="city">city</label>
        <input type="text" class="form-control" id="city" name="city" value="<%= customer.city %>"required>
      </div>
      <div class="form-group">
        <label for="state">state</label>
        <input type="text" class="form-control" id="state" name="state" value="<%= customer.state %>"required>
      </div>
      <div class="form-group">
        <label for="postalCode">postalCode</label>
        <input type="text" class="form-control" id="postalCode" name="postalCode" value="<%= customer.postalCode %>"required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">phoneNumber</label>
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= customer.phoneNumber %>"required>
      </div>
    </div>
  </div>